<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login">
  <test thread-count="5" name="TestCases">
    <classes>
    <class name="LoginTC.loginTestCases"/>
      <class name="LoginTC.baseData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
